flows.json
[
    {
        "id": "b2b2cf3fbcec5eed",
        "type": "tab",
        "label": "SB incoming readings flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a7f76a515c8544a2",
        "type": "tab",
        "label": "SB UI flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f8b9694fdc50d17f",
        "type": "tab",
        "label": "Turn S3 on/off",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7f5b70e481620d6e",
        "type": "subflow",
        "name": "SB - Error Check",
        "info": "",
        "category": "",
        "in": [
            {
                "x": -20,
                "y": 80,
                "wires": [
                    {
                        "id": "34247234f0668477"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1380,
                "y": 40,
                "wires": [
                    {
                        "id": "23104b00346c1d1f",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "299ed8b77420c170",
        "type": "subflow",
        "name": "SB - influxdb and grafana",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 240,
                "y": 300,
                "wires": [
                    {
                        "id": "73136c801db1d7fa"
                    },
                    {
                        "id": "ab4f06407c0edae6"
                    },
                    {
                        "id": "6d28b3d4d68d0354"
                    },
                    {
                        "id": "30145a16f0cec555"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "dd5b4280471fc9a9",
        "type": "group",
        "z": "b2b2cf3fbcec5eed",
        "name": "Incoming Sniffer Buddy Readings via mqtt",
        "style": {
            "stroke": "#0070c0",
            "fill": "#bfdbef",
            "label": true,
            "label-position": "n",
            "color": "#000000"
        },
        "nodes": [
            "f581f181cd9850c5",
            "bc065d6677b1f46b",
            "16f1e159dc4f3e84",
            "6a9a0ec21f3d6810",
            "840d20f7b8b2844b",
            "fbeb377931dbc8e2",
            "b6f864048abe85d4",
            "07098a2be29dd344",
            "f41c631bb0e33bf4",
            "504e5db12d254cbb",
            "eb121a6b1c64fc57",
            "6c18c78d2e27e1d1",
            "91d6114c8d9f582b",
            "573be0a2b1ea622e",
            "863490e53bc7a204",
            "e8c381448de3c5aa",
            "60d37fa549693ae8"
        ],
        "x": -6,
        "y": 219,
        "w": 1572,
        "h": 302
    },
    {
        "id": "77fed1c377eed3df",
        "type": "mqtt-broker",
        "name": "growbuddy",
        "broker": "growbuddy",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "120",
        "cleansession": true,
        "birthTopic": "stat/plug_fillerup/POWER",
        "birthQos": "0",
        "birthPayload": "ON",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "2a76ce87b12bff46",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#37adb3",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#37adb3",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#66cbd0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#37adb3",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Sniffer Buddy",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "ab7d13904246734b",
        "type": "influxdb",
        "hostname": "growbuddy",
        "port": "8086",
        "protocol": "http",
        "database": "growbuddy",
        "name": "growbuddy",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "d1840c4451e46f7b",
        "type": "ui_group",
        "name": "Readings",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bbc3532f.41ca7",
        "type": "ui_group",
        "name": "Readings",
        "tab": "1ff97cd4.681d5b",
        "order": 2,
        "disp": true,
        "width": 16,
        "collapse": false,
        "className": ""
    },
    {
        "id": "1ff97cd4.681d5b",
        "type": "ui_tab",
        "name": "Sniffer Buddy",
        "icon": "dashboard",
        "order": 37,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "83aa45e7.130ea8",
        "type": "ui_group",
        "name": "test",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "7a0c3262d7dd5dc0",
        "type": "ui_group",
        "name": "Buddy Stuff",
        "tab": "1ff97cd4.681d5b",
        "order": 1,
        "disp": true,
        "width": 16,
        "collapse": false,
        "className": ""
    },
    {
        "id": "8e01c20277d826dd",
        "type": "ui_spacer",
        "z": "a7f76a515c8544a2",
        "name": "spacer",
        "group": "7a0c3262d7dd5dc0",
        "order": 2,
        "width": 14,
        "height": 1
    },
    {
        "id": "f11f14b1d07cabab",
        "type": "ui_spacer",
        "z": "a7f76a515c8544a2",
        "name": "spacer",
        "group": "bbc3532f.41ca7",
        "order": 1,
        "width": 2,
        "height": 1
    },
    {
        "id": "4c802cf8f5d8f03a",
        "type": "ui_spacer",
        "z": "a7f76a515c8544a2",
        "name": "spacer",
        "group": "bbc3532f.41ca7",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "f62d27a6ad581772",
        "type": "ui_spacer",
        "z": "a7f76a515c8544a2",
        "name": "spacer",
        "group": "bbc3532f.41ca7",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "2cd9151ed2a112d4",
        "type": "ui_spacer",
        "z": "a7f76a515c8544a2",
        "name": "spacer",
        "group": "bbc3532f.41ca7",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "ec6953a3d013f77d",
        "type": "ui_spacer",
        "z": "a7f76a515c8544a2",
        "name": "spacer",
        "group": "bbc3532f.41ca7",
        "order": 9,
        "width": 3,
        "height": 1
    },
    {
        "id": "34247234f0668477",
        "type": "function",
        "z": "7f5b70e481620d6e",
        "name": "Check if we're getting valid readings",
        "func": "\n/* ASSUMPTIONS:\n- Humidity should read at least greater than 30 (percent) and less than or equal to 100.\n- Temperature should read at least greater than 50 (degrees F) and less than 100 degrees F.\n- CO2 level should read at least 350 (ppm) and less than 1800.\n*/\n\n/* I did separate if statements because of the way I was finding\nerrors coming in.  If the I2C interface isn't working, there \nis a different error than if the I2C interface is working but the \nthe sensor is not.\n*/\n if (msg.payload == \"read-measurement\") {\n    node.warn(\"** Error: Check Sensor.  I2C interface is not working...\");\n    msg.payload.good_readings = false;\n    return msg;\n    \n}\nif (msg.payload.SCD30== undefined){\n    node.warn(\"** ERROR: Not getting SCD30 readings...\");\n    msg.payload.good_readings = false;\n    return msg;\n}\n/* Convert Temp reading to F from C */\nmsg.payload.SCD30.Temperature = msg.payload.SCD30.Temperature*9/5 + 32;\n/* The Sensor could be sending bad readings */\n\nif (isNaN(msg.payload.SCD30.CarbonDioxide) ){\n    node.warn(\"** ERROR: Check Sensor. Not getting valid readings. ..\");\n    msg.payload.good_readings = false;\n    \n}else if (msg.payload.SCD30.Humidity < 30 || msg.payload.SCD30.Humidity > 100){\n    node.warn(\"** ERROR: Check Sensor. Humidity reading is \"+msg.payload.Humidity);\n    msg.payload.good_readings = false;\n}else if (msg.payload.SCD30.Temperature < 50 || msg.payload.SCD30.Temperature > 90){\n    node.warn(\"** ERROR: Check Sensor. Temperature reading is \"+msg.payload.SCD30.Temperature);\n    msg.payload.good_readings = false;\n}else if (msg.payload.SCD30.CarbonDioxide < 350 || msg.payload.SCD30.CarbonDioxide > 1800){\n    node.warn(\"** ERROR: Check Sensor. CO2 level reading is \"+msg.payload.SCD30.CarbonDioxide);\n    msg.payload.good_readings = false;\n}\nelse {\n    msg.payload.good_readings = true;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 100,
        "wires": [
            [
                "3c657af948247c47"
            ]
        ],
        "inputLabels": [
            "Unvalidated Sensor Readings"
        ],
        "outputLabels": [
            "Validated Sensor readings"
        ]
    },
    {
        "id": "3c657af948247c47",
        "type": "switch",
        "z": "7f5b70e481620d6e",
        "name": "true if we are getting readings",
        "property": "payload.good_readings",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 730,
        "y": 100,
        "wires": [
            [
                "96ad718c50324646"
            ],
            [
                "232789a045a98448"
            ]
        ]
    },
    {
        "id": "23104b00346c1d1f",
        "type": "change",
        "z": "7f5b70e481620d6e",
        "name": "set snifferBuddy_working to true",
        "rules": [
            {
                "t": "set",
                "p": "snifferBuddy_working",
                "pt": "global",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1190,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "232789a045a98448",
        "type": "change",
        "z": "7f5b70e481620d6e",
        "name": "add 1 to n_bad_readings",
        "rules": [
            {
                "t": "set",
                "p": "n_bad_readings",
                "pt": "flow",
                "to": "$flowContext(\"n_bad_readings\")+1",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 160,
        "wires": [
            [
                "7c2d03e0b4809e9e",
                "5c0e2f583f51111c"
            ]
        ]
    },
    {
        "id": "7c2d03e0b4809e9e",
        "type": "switch",
        "z": "7f5b70e481620d6e",
        "name": "n_bad_readings > 3?",
        "property": "n_bad_readings",
        "propertyType": "flow",
        "rules": [
            {
                "t": "gt",
                "v": "3",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1220,
        "y": 100,
        "wires": [
            [
                "5746a4c7a8a82e23"
            ]
        ]
    },
    {
        "id": "5c0e2f583f51111c",
        "type": "function",
        "z": "7f5b70e481620d6e",
        "name": "print n_bad_readings",
        "func": "msg.payload = \"number of bad readings: \" + flow.get(\"n_bad_readings\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 200,
        "wires": [
            [
                "4408918677e3640b"
            ]
        ]
    },
    {
        "id": "4408918677e3640b",
        "type": "debug",
        "z": "7f5b70e481620d6e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1430,
        "y": 200,
        "wires": []
    },
    {
        "id": "96ad718c50324646",
        "type": "change",
        "z": "7f5b70e481620d6e",
        "name": "set n_bad_readings to 0",
        "rules": [
            {
                "t": "set",
                "p": "n_bad_readings",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 40,
        "wires": [
            [
                "23104b00346c1d1f"
            ]
        ]
    },
    {
        "id": "5746a4c7a8a82e23",
        "type": "change",
        "z": "7f5b70e481620d6e",
        "name": "set snifferBuddy_working to false",
        "rules": [
            {
                "t": "set",
                "p": "snifferBuddy_working",
                "pt": "global",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1520,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "a0ea1b32b045e152",
        "type": "config",
        "z": "7f5b70e481620d6e",
        "name": "State Variables",
        "properties": [
            {
                "p": "n_bad_readings",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            }
        ],
        "active": true,
        "x": 460,
        "y": 40,
        "wires": []
    },
    {
        "id": "ea57ab63d4689d43",
        "type": "debug",
        "z": "299ed8b77420c170",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 280,
        "wires": []
    },
    {
        "id": "73136c801db1d7fa",
        "type": "change",
        "z": "299ed8b77420c170",
        "name": "CO2",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.SCD30.CarbonDioxide",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "CO2",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 240,
        "wires": [
            [
                "715ab9fd33f18591"
            ]
        ]
    },
    {
        "id": "ab4f06407c0edae6",
        "type": "change",
        "z": "299ed8b77420c170",
        "name": "Humidity",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.SCD30.Humidity",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Humidity",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 300,
        "wires": [
            [
                "715ab9fd33f18591"
            ]
        ]
    },
    {
        "id": "715ab9fd33f18591",
        "type": "join",
        "z": "299ed8b77420c170",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "4",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 620,
        "y": 280,
        "wires": [
            [
                "ea57ab63d4689d43",
                "c756ccc1259c0c8d"
            ]
        ]
    },
    {
        "id": "6d28b3d4d68d0354",
        "type": "change",
        "z": "299ed8b77420c170",
        "name": "Temperature",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.SCD30.Temperature",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Temperature",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 360,
        "wires": [
            [
                "715ab9fd33f18591"
            ]
        ]
    },
    {
        "id": "c756ccc1259c0c8d",
        "type": "influxdb out",
        "z": "299ed8b77420c170",
        "influxdb": "ab7d13904246734b",
        "name": "snifferbuddy readings to influxdb",
        "measurement": "readings",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 880,
        "y": 360,
        "wires": []
    },
    {
        "id": "30145a16f0cec555",
        "type": "function",
        "z": "299ed8b77420c170",
        "name": "calc VPD",
        "func": "var air_T = msg.payload.SCD30.Temperature;\n/* Assume leaf temp is 2 degrees F less */\nvar leaf_T = air_T - 2;\nvar RH = msg.payload.SCD30.Humidity;\n\n/* see https://www.questclimate.com/vapor-pressure-deficit-indoor-growing-part-3-different-stages-vpd/ */\nleaf_vpd = 3.386*(Math.exp(17.863-9621/(leaf_T+460))-((RH/100)*Math.exp(17.863-9621/(air_T+460))));\nmsg.payload = Number(leaf_vpd.toFixed(2));\nmsg.topic = \"vpd\"\nflow.set(\"vpd\",msg.payload)\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 420,
        "wires": [
            [
                "715ab9fd33f18591"
            ]
        ]
    },
    {
        "id": "4724912cabff749a",
        "type": "config",
        "z": "b2b2cf3fbcec5eed",
        "name": "Sniffer Buddy Variables",
        "properties": [
            {
                "p": "CO2_level",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            },
            {
                "p": "Temperature",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            },
            {
                "p": "Humidity",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            },
            {
                "p": "CONST_LIGHT_ON_OFF_THRESHOLD",
                "pt": "flow",
                "to": "700",
                "tot": "num"
            }
        ],
        "active": true,
        "x": 310,
        "y": 80,
        "wires": []
    },
    {
        "id": "627d37df22406854",
        "type": "config",
        "z": "b2b2cf3fbcec5eed",
        "name": "Global Variables",
        "properties": [
            {
                "p": "snifferBuddy_working",
                "pt": "global",
                "to": "true",
                "tot": "bool"
            }
        ],
        "active": true,
        "x": 640,
        "y": 80,
        "wires": []
    },
    {
        "id": "5a3e1a02488e5602",
        "type": "inject",
        "z": "b2b2cf3fbcec5eed",
        "name": "PPFD Settings",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"PPFD\":{\"week1\":100,\"week2\":250,\"week3\":300,\"week4\":500,\"week5\":650}}",
        "payloadType": "json",
        "x": 860,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "6128f7ed51f44173",
        "type": "change",
        "z": "b2b2cf3fbcec5eed",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "f581f181cd9850c5",
        "type": "mqtt in",
        "z": "b2b2cf3fbcec5eed",
        "g": "dd5b4280471fc9a9",
        "name": "Sniffer Buddy readings",
        "topic": "tele/snifferbuddy/SENSOR",
        "qos": "2",
        "datatype": "auto",
        "broker": "77fed1c377eed3df",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 320,
        "wires": [
            [
                "16f1e159dc4f3e84"
            ]
        ]
    },
    {
        "id": "bc065d6677b1f46b",
        "type": "subflow:7f5b70e481620d6e",
        "z": "b2b2cf3fbcec5eed",
        "g": "dd5b4280471fc9a9",
        "name": "",
        "x": 470,
        "y": 320,
        "wires": [
            [
                "504e5db12d254cbb"
            ]
        ]
    },
    {
        "id": "16f1e159dc4f3e84",
        "type": "json",
        "z": "b2b2cf3fbcec5eed",
        "g": "dd5b4280471fc9a9",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 310,
        "y": 320,
        "wires": [
            [
                "bc065d6677b1f46b",
                "60d37fa549693ae8"
            ]
        ]
    },
    {
        "id": "6a9a0ec21f3d6810",
        "type": "change",
        "z": "b2b2cf3fbcec5eed",
        "g": "dd5b4280471fc9a9",
        "name": "set flow Variables",
        "rules": [
            {
                "t": "set",
                "p": "CO2",
                "pt": "flow",
                "to": "payload.SCD30.CarbonDioxide",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "Humidity",
                "pt": "flow",
                "to": "payload.SCD30.Humidity",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "Temperature",
                "pt": "flow",
                "to": "payload.SCD30.Temperature",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "Light_ONorOFF",
                "pt": "flow",
                "to": "payload.ANALOG.A0 > $flowContext(\"CONST_LIGHT_ON_OFF_THRESHOLD\") ? \"ON\" : \"OFF\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 320,
        "wires": [
            [
                "fbeb377931dbc8e2"
            ]
        ]
    },
    {
        "id": "840d20f7b8b2844b",
        "type": "mqtt in",
        "z": "b2b2cf3fbcec5eed",
        "g": "dd5b4280471fc9a9",
        "name": "Sniffer Buddy LWT",
        "topic": "tele/snifferbuddy/LWT",
        "qos": "2",
        "datatype": "auto",
        "broker": "77fed1c377eed3df",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 420,
        "wires": [
            [
                "07098a2be29dd344"
            ]
        ]
    },
    {
        "id": "fbeb377931dbc8e2",
        "type": "change",
        "z": "b2b2cf3fbcec5eed",
        "g": "dd5b4280471fc9a9",
        "name": "put LED on/off in msg",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Light_ONorOFF",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1220,
        "y": 320,
        "wires": [
            [
                "b6f864048abe85d4"
            ]
        ]
    },
    {
        "id": "b6f864048abe85d4",
        "type": "rbe",
        "z": "b2b2cf3fbcec5eed",
        "g": "dd5b4280471fc9a9",
        "name": "Block unless LED on/off changes",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 1080,
        "y": 380,
        "wires": [
            [
                "f41c631bb0e33bf4",
                "e8c381448de3c5aa"
            ]
        ]
    },
    {
        "id": "07098a2be29dd344",
        "type": "function",
        "z": "b2b2cf3fbcec5eed",
        "g": "dd5b4280471fc9a9",
        "name": "Check if getting mqtt readings.",
        "func": "if (msg.payload == 'Online') {\n    node.warn(\"***> INFO: receiving readings from Sniffer Buddy.\");\n} else {\n    node.warn(\"***> ERROR: UhOh! Not receiving readings from Sniffer Buddy\");\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 420,
        "wires": [
            [
                "573be0a2b1ea622e"
            ]
        ]
    },
    {
        "id": "f41c631bb0e33bf4",
        "type": "e-mail",
        "z": "b2b2cf3fbcec5eed",
        "d": true,
        "g": "dd5b4280471fc9a9",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "happyday.mjohnson@gmail.com",
        "dname": "Send Lights ON/OFF email",
        "x": 1300,
        "y": 440,
        "wires": []
    },
    {
        "id": "504e5db12d254cbb",
        "type": "switch",
        "z": "b2b2cf3fbcec5eed",
        "g": "dd5b4280471fc9a9",
        "name": "snifferBuddy_working?",
        "property": "snifferBuddy_working",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 730,
        "y": 320,
        "wires": [
            [
                "6a9a0ec21f3d6810",
                "863490e53bc7a204"
            ],
            [
                "6c18c78d2e27e1d1"
            ]
        ]
    },
    {
        "id": "eb121a6b1c64fc57",
        "type": "e-mail",
        "z": "b2b2cf3fbcec5eed",
        "d": true,
        "g": "dd5b4280471fc9a9",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "happyday.mjohnson@gmail.com",
        "dname": "Send not working email",
        "x": 1030,
        "y": 440,
        "wires": []
    },
    {
        "id": "6c18c78d2e27e1d1",
        "type": "change",
        "z": "b2b2cf3fbcec5eed",
        "g": "dd5b4280471fc9a9",
        "name": "set msg to SnifferBuddy not working.",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "UHOH!!! SnifferBuddy is not working",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 380,
        "wires": [
            [
                "eb121a6b1c64fc57"
            ]
        ]
    },
    {
        "id": "91d6114c8d9f582b",
        "type": "change",
        "z": "b2b2cf3fbcec5eed",
        "g": "dd5b4280471fc9a9",
        "name": "handle mqtt broker down.",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "UHOH!!! Not receiving messages from SnifferBuddy!",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "snifferBuddy_working",
                "pt": "global",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 480,
        "wires": [
            [
                "eb121a6b1c64fc57"
            ]
        ]
    },
    {
        "id": "573be0a2b1ea622e",
        "type": "switch",
        "z": "b2b2cf3fbcec5eed",
        "g": "dd5b4280471fc9a9",
        "name": "are messages being sent?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "Online",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 680,
        "y": 420,
        "wires": [
            [
                "91d6114c8d9f582b"
            ]
        ]
    },
    {
        "id": "863490e53bc7a204",
        "type": "subflow:299ed8b77420c170",
        "z": "b2b2cf3fbcec5eed",
        "g": "dd5b4280471fc9a9",
        "name": "",
        "x": 1110,
        "y": 260,
        "wires": []
    },
    {
        "id": "e8c381448de3c5aa",
        "type": "influxdb out",
        "z": "b2b2cf3fbcec5eed",
        "g": "dd5b4280471fc9a9",
        "influxdb": "ab7d13904246734b",
        "name": "record light on/off event in influxdb",
        "measurement": "light",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1400,
        "y": 380,
        "wires": []
    },
    {
        "id": "60d37fa549693ae8",
        "type": "debug",
        "z": "b2b2cf3fbcec5eed",
        "g": "dd5b4280471fc9a9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 380,
        "wires": []
    },
    {
        "id": "14f5cd67.1fbd6b",
        "type": "ui_template",
        "z": "a7f76a515c8544a2",
        "group": "bbc3532f.41ca7",
        "name": "Temp and Humidity Grafana",
        "order": 10,
        "width": 8,
        "height": 8,
        "format": "<html>\n<iframe id=\"scd30Frame\" width=\"400px\" height=\"350px\" style = \"overflow:hidden; margin:auto; border:0px solid blue;\"></iframe>\n\n<script>\n//NOTE, more then one chart on a page, rename in the second and following \n//templates the \"myframe\" variable so that every template has a unique name.\n(function(scope) {\n    // watch msg object from Node-RED\n    scope.$watch('msg', function(msg) {\n        // new message received\n        var x = document.getElementById('scd30Frame');\n        x.setAttribute('src', msg.payload); \n        });\n})(scope);\n</script>\n</html>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 1340,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "aeaaadf4.7dcb",
        "type": "function",
        "z": "a7f76a515c8544a2",
        "name": "Build SCD30 Template",
        "func": "//NOTE, more then one chart on a page, rename in the second and following \n//templates the \"myframe\" variable so that every template has a unique name.\n\npanelid=2\n\nmsg.payload= \"http://growbuddy:3000/d/7ZzVJ2mRk/snifferbuddy-thv?orgId=1\"+\n\"&refresh=1m\"+\n\"&theme=dark\"+\n\"&from=\"+ msg.fromdate +\n\"&to=\"+ msg.enddate +\n\"&panelId=\"+panelid +\n\"&kiosk\"\n\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 440,
        "wires": [
            [
                "14f5cd67.1fbd6b",
                "11c2075d1462ed51"
            ]
        ]
    },
    {
        "id": "a4654193.3b49e8",
        "type": "function",
        "z": "a7f76a515c8544a2",
        "name": "SetTimeTodaySofar",
        "func": "msg.fromdate = \"now/d\";\nmsg.enddate = \"now\";\nflow.set(\"date_offset\",0);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 500,
        "wires": [
            [
                "aeaaadf4.7dcb",
                "4d9c0d995889eeec",
                "445ee39e69ac2c9d"
            ]
        ]
    },
    {
        "id": "b86713b9963a29c4",
        "type": "ui_ui_control",
        "z": "a7f76a515c8544a2",
        "name": "Page loads",
        "events": "connect",
        "x": 570,
        "y": 500,
        "wires": [
            [
                "a4654193.3b49e8"
            ]
        ]
    },
    {
        "id": "a82f23f8e4fcc4ed",
        "type": "ui_button",
        "z": "a7f76a515c8544a2",
        "name": "<< button",
        "group": "bbc3532f.41ca7",
        "order": 2,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "<<",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "-1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 220,
        "y": 420,
        "wires": [
            [
                "c98e9cae51e15458",
                "dd5f9c2446c06495"
            ]
        ]
    },
    {
        "id": "0a3f2c79e6afd0ab",
        "type": "ui_button",
        "z": "a7f76a515c8544a2",
        "name": "Today button",
        "group": "bbc3532f.41ca7",
        "order": 8,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Today",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 550,
        "y": 540,
        "wires": [
            [
                "a4654193.3b49e8"
            ]
        ]
    },
    {
        "id": "c98e9cae51e15458",
        "type": "function",
        "z": "a7f76a515c8544a2",
        "name": "set flow.date_offset",
        "func": "node.warn(\"msg.payload: \" + msg.payload);\nlet date_offset = flow.get(\"date_offset\");\nif ( (msg.payload == 0) || (date_offset+msg.payload > 0)) {\n    flow.set(\"date_offset\",0);\n}else{\n    flow.set(\"date_offset\",date_offset+msg.payload);\n}\nnode.warn(\"date offset: \" + flow.get(\"date_offset\"));\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 420,
        "wires": [
            [
                "0a0bd043a814bf0a"
            ]
        ]
    },
    {
        "id": "0a0bd043a814bf0a",
        "type": "function",
        "z": "a7f76a515c8544a2",
        "name": "Set From and end Date/Time",
        "func": "var p_30d  = 1000*60*60*24*30 ; //30 Days\nvar p_7d  = 1000*60*60*24*7 ; //7 Days\nvar p_1d   =  1000*60*60*24 ; // 1 Day\nvar p_hr = 1000*60*60; //1 Hour\n\nvar d = new Date();\nvar today0h = d.setHours(0,0,0,0); //Timestamp midnight\n\n\n/* Date Offset is negative to show days previous from today */\nmsg.fromdate = today0h + flow.get(\"date_offset\")*p_1d;\nmsg.enddate = msg.fromdate + p_1d;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 440,
        "wires": [
            [
                "aeaaadf4.7dcb",
                "445ee39e69ac2c9d"
            ]
        ]
    },
    {
        "id": "fd90d91defb2be37",
        "type": "ui_button",
        "z": "a7f76a515c8544a2",
        "name": ">> button",
        "group": "bbc3532f.41ca7",
        "order": 6,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": ">>",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 320,
        "y": 540,
        "wires": [
            [
                "c98e9cae51e15458",
                "4d9c0d995889eeec"
            ]
        ]
    },
    {
        "id": "aad8703f8645dced",
        "type": "config",
        "z": "a7f76a515c8544a2",
        "name": "",
        "properties": [
            {
                "p": "date_offset",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            }
        ],
        "active": true,
        "x": 590,
        "y": 300,
        "wires": []
    },
    {
        "id": "4d9c0d995889eeec",
        "type": "change",
        "z": "a7f76a515c8544a2",
        "name": ">> off",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "($flowContext(\"date_offset\") = 0 )? false : true",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 660,
        "wires": [
            [
                "fd90d91defb2be37"
            ]
        ]
    },
    {
        "id": "dd5f9c2446c06495",
        "type": "change",
        "z": "a7f76a515c8544a2",
        "name": ">> on",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 210,
        "y": 480,
        "wires": [
            [
                "fd90d91defb2be37"
            ]
        ]
    },
    {
        "id": "11c2075d1462ed51",
        "type": "change",
        "z": "a7f76a515c8544a2",
        "name": "set date string",
        "rules": [
            {
                "t": "set",
                "p": "fromdate",
                "pt": "msg",
                "to": "(\t\t$contains($string(msg.fromdate), \"now\") ? $now( '[M]/[D]/[Y]') : $fromMillis(msg.fromdate,'[M]/[D]/[Y]')\t)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1300,
        "y": 400,
        "wires": [
            [
                "42ccb0ac682f545e"
            ]
        ]
    },
    {
        "id": "42ccb0ac682f545e",
        "type": "ui_text",
        "z": "a7f76a515c8544a2",
        "group": "bbc3532f.41ca7",
        "order": 4,
        "width": 2,
        "height": 1,
        "name": "date text field",
        "label": "",
        "format": "{{msg.fromdate}}",
        "layout": "col-center",
        "className": "",
        "x": 1470,
        "y": 400,
        "wires": []
    },
    {
        "id": "d8bd7de23f9706cd",
        "type": "ui_template",
        "z": "a7f76a515c8544a2",
        "group": "bbc3532f.41ca7",
        "name": "CO2 Grafana",
        "order": 11,
        "width": 8,
        "height": 8,
        "format": "<html>\n<iframe id=\"co2Frame\" width=\"400px\" height=\"350px\" style = \"overflow:hidden; margin:auto; border:0px solid blue;\"></iframe>\n\n<script>\n//NOTE, more then one chart on a page, rename in the second and following \n//templates the \"myframe\" variable so that every template has a unique name.\n(function(scope) {\n    // watch msg object from Node-RED\n    scope.$watch('msg', function(msg) {\n        // new message received\n        var x = document.getElementById('co2Frame');\n        x.setAttribute('src', msg.payload); \n        });\n})(scope);\n</script>\n</html>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 1290,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "445ee39e69ac2c9d",
        "type": "function",
        "z": "a7f76a515c8544a2",
        "name": "Build CO2 Template",
        "func": "//NOTE, more then one chart on a page, rename in the second and following \n//templates the \"myframe\" variable so that every template has a unique name.\n\npanelid=2\n\nmsg.payload= \"http://growbuddy:3000/d/b-XXf-iRk/co2?orgId=1\"+\n\"&refresh=1m\"+\n\"&theme=dark\"+\n\"&from=\"+ msg.fromdate +\n\"&to=\"+ msg.enddate +\n\"&panelId=\"+panelid +\n\"&kiosk\"\n\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 480,
        "wires": [
            [
                "d8bd7de23f9706cd"
            ]
        ]
    },
    {
        "id": "a14fd3ef2ef138ec",
        "type": "ui_date_picker",
        "z": "a7f76a515c8544a2",
        "name": "",
        "label": "Start Date:",
        "group": "7a0c3262d7dd5dc0",
        "order": 1,
        "width": 2,
        "height": 1,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 340,
        "y": 160,
        "wires": [
            [
                "729d4600fbace227",
                "1f6c0644360254c9"
            ]
        ]
    },
    {
        "id": "729d4600fbace227",
        "type": "debug",
        "z": "a7f76a515c8544a2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 120,
        "wires": []
    },
    {
        "id": "1f6c0644360254c9",
        "type": "change",
        "z": "a7f76a515c8544a2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "grow_start_date",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "9ff2529cf6ae6b72",
        "type": "function",
        "z": "a7f76a515c8544a2",
        "name": "figure out weeks/days since start of grow",
        "func": "\nvar oneDay = 1000*60*60*24;\n\n\nconsole.log(Math.floor((diff/oneDay)/7) + \" weeks, \" + Math.floor((diff/oneDay)%7) + \" days\")\nvar date_today = new Date();\nvar date_grow_start = new Date(flow.get(\"grow_start_date\")+1000);\n// To calculate the time difference of two dates\nvar diff = date_today.getTime() - date_grow_start.getTime();\nnode.warn(\"time diff: \" + diff)\n// To calculate the no. of days between two dates\nmsg.payload.weeks = Math.floor((diff/oneDay)/7)\nmsg.payload.datetimestr = msg.payload.weeks + \" weeks, \" + Math.floor((diff/oneDay)%7) + \" days\"\nnode.warn(Math.floor((diff/oneDay)/7) + \" weeks, \" + Math.floor((diff/oneDay)%7) + \" days\")\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 160,
        "wires": [
            [
                "4462a33f7f61a8af",
                "b46ad586603fb343",
                "8cf82aed407490d7"
            ]
        ]
    },
    {
        "id": "4462a33f7f61a8af",
        "type": "ui_text",
        "z": "a7f76a515c8544a2",
        "group": "7a0c3262d7dd5dc0",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Time Growing",
        "format": "{{msg.payload.datetimestr}}",
        "layout": "col-center",
        "className": "",
        "x": 1400,
        "y": 140,
        "wires": []
    },
    {
        "id": "13a3876b97222a85",
        "type": "inject",
        "z": "a7f76a515c8544a2",
        "name": "add PPFD Settings to msg",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"PPFD\":[100,250,300,500,650]}",
        "payloadType": "json",
        "x": 840,
        "y": 100,
        "wires": [
            [
                "9ff2529cf6ae6b72"
            ]
        ]
    },
    {
        "id": "6db7930f04d5af6f",
        "type": "debug",
        "z": "a7f76a515c8544a2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1370,
        "y": 40,
        "wires": []
    },
    {
        "id": "743f571852d81e95",
        "type": "function",
        "z": "a7f76a515c8544a2",
        "name": "",
        "func": "msg.payload = msg.payload.PPFD.week1\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 60,
        "wires": [
            [
                "6db7930f04d5af6f"
            ]
        ]
    },
    {
        "id": "b46ad586603fb343",
        "type": "debug",
        "z": "a7f76a515c8544a2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1320,
        "y": 200,
        "wires": []
    },
    {
        "id": "ab74bfa7363017be",
        "type": "inject",
        "z": "a7f76a515c8544a2",
        "name": "add PPFD Settings to msg",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"PPFD\":[100,250,300,500,650]}",
        "payloadType": "json",
        "x": 820,
        "y": 640,
        "wires": [
            [
                "ade35990ba74f235"
            ]
        ]
    },
    {
        "id": "ade35990ba74f235",
        "type": "debug",
        "z": "a7f76a515c8544a2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 700,
        "wires": []
    },
    {
        "id": "8cf82aed407490d7",
        "type": "function",
        "z": "a7f76a515c8544a2",
        "name": "set payload to this week's PPFD value",
        "func": "\nmsg.payload = msg.payload.PPFD[msg.payload.weeks-1];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 300,
        "wires": [
            [
                "445585fdf9b627e3",
                "e497d6aa719741b1"
            ]
        ]
    },
    {
        "id": "445585fdf9b627e3",
        "type": "debug",
        "z": "a7f76a515c8544a2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1370,
        "y": 280,
        "wires": []
    },
    {
        "id": "e497d6aa719741b1",
        "type": "ui_text",
        "z": "a7f76a515c8544a2",
        "group": "7a0c3262d7dd5dc0",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "PPFD Setpoint",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1410,
        "y": 340,
        "wires": []
    },
    {
        "id": "68daa8883d202e0f",
        "type": "Sonoff device Enhanced",
        "z": "f8b9694fdc50d17f",
        "mode": "0",
        "broker": "77fed1c377eed3df",
        "device": "plug_fillerup",
        "name": "TEST",
        "onValue": "ON",
        "offValue": "OFF",
        "toggleValue": "toggle",
        "cmdPrefix": "cmnd",
        "statPrefix": "stat",
        "telePrefix": "tele",
        "x": 570,
        "y": 200,
        "wires": [
            [
                "f788a23cb2f3d135"
            ]
        ]
    },
    {
        "id": "89e101f62bed5943",
        "type": "inject",
        "z": "f8b9694fdc50d17f",
        "name": "TOGGLE",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "cmnd/plug_fillerup/POWER",
        "payload": "toggle",
        "payloadType": "str",
        "x": 220,
        "y": 220,
        "wires": [
            [
                "68daa8883d202e0f"
            ]
        ]
    },
    {
        "id": "f788a23cb2f3d135",
        "type": "debug",
        "z": "f8b9694fdc50d17f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 200,
        "wires": []
    },
    {
        "id": "6b5d09d46f1c0f6c",
        "type": "inject",
        "z": "f8b9694fdc50d17f",
        "name": "ON",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "cmnd/plug_fillerup/POWER",
        "payload": "on",
        "payloadType": "str",
        "x": 210,
        "y": 300,
        "wires": [
            [
                "68daa8883d202e0f"
            ]
        ]
    },
    {
        "id": "c1e1bba532566b46",
        "type": "inject",
        "z": "f8b9694fdc50d17f",
        "name": "OFF",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "cmnd/plug_fillerup/POWER",
        "payload": "off",
        "payloadType": "str",
        "x": 230,
        "y": 360,
        "wires": [
            [
                "68daa8883d202e0f"
            ]
        ]
    },
    {
        "id": "7298078f3ce26848",
        "type": "comment",
        "z": "f8b9694fdc50d17f",
        "name": "README",
        "info": "Example of turning on and off a Sonoff S3 or S3 lite switch.",
        "x": 270,
        "y": 140,
        "wires": []
    }
]